<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="flex-row mt-3 text-black">
	<div class="col-span-8">
	    <h1 class="mb-4 text-2xl font-extrabold">Film List</h1>
	    <ul class="list-group" id="film-list">
		{{ range .Films}}
		    {{ block "film-list-element" . }}
		    <li class="list-group-item text-black font-serif">
			{{ .Title }} - {{ .Director }}
			<button class="text-red-500" hx-trigger="click" hx-target="this" hx-swap="delete">
			    X
			</button>
		    </li>
		    {{ end }}
		{{ end }}
	    </ul>
	</div>

	<div class="col-span-4">
		<h1 class="mb-4 text-2xl font-extrabold">Add Film</h1>

		<form hx-post="/add-film/" hx-target="#film-list" hx-swap="beforeend">
		    <div class="mb-2">
			<label for="film-title"></label>
			<input
			type="text"
			name="title"
			placeholder="title"
			id="film-title"
			class="border"/>
		    </div>
		    <div class="mb-3">
			<label for="film-director"></label>
			<input
			type="text"
			name="director"
			placeholder="director"
			id="film-director"
			class="border"/>
		    </div>

		    <button type="submit" class="btn btn-primary h-12 w-24 bg-pink-500">Submit</button>
		</form>
	</div>
    </div>
</body>
</html>
